
.depicter-revert .depicter-1-element-18{
	font-size:36px;
	text-align:left;
	color:#F3FFFA;
	font-family:"Akatab";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-9{
	font-size:81px;
	color:#DCFFF0;
	font-family:"Akatab";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-14{
	opacity:0.855;
	background-color:#005B0E;
}
.depicter-revert .depicter-1-element-7{
	font-size:1px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-6{
	font-size:1px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-2{
	opacity:0.941;
}
.depicter-revert .depicter-1-element-2-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-element-28{
	font-size:40px;
	color:#06301E;
	font-family:"Catamaran";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-27{
	font-size:60px;
	color:#06301E;
	font-family:"Catamaran";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-26{
	transform:rotate(6deg);
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-24 .depicter-section-background{
	background-color:#FFF;
}

